<div class="oj-hybrid-padding">
  <h1>Custom JET components Area</h1>
  <hr>

  <br>
  <h5>Hello world component</h5>
  <hello-world></hello-world>
  <br>

  <h5>Dropdown with chart component</h5>
  <dropdown-with-chart chart-type="pie"></dropdown-with-chart>
  <br>

  <dropdown-with-chart chart-type="bar"></dropdown-with-chart>
  <br>

  <dropdown-with-chart chart-type="line"></dropdown-with-chart>
  <br>

  <h5>Demo card from JET cookbook</h5>
  <oj-bind-for-each data="[[employees]]">
    <template>
      <demo-card class="oj-flex-item" 
        name="[[$current.data.name]]" 
        avatar="[[$current.data.avatar]]" 
        work-title="[[$current.data.title]]" 
        work-number="[[$current.data.work]]" 
        email="[[$current.data.email]]">
      </demo-card>  
    </template>
  </oj-bind-for-each>
</div>
