/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   field-text .field-text-value-text {
   color: var(--field-text-value-text-color);
   display: inline-block;
	 }
*/

field-text:not(.oj-complete){
  visibility: hidden;
}

field-text{
	min-height: 50px;
	width: 50px;
}